@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    margin: 0;
    padding: 0;

    background-image: url(img/background.png);
    background-attachment: fixed;
    overflow-x: hidden;
}

.container {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    font-family: 'Press Start 2P', cursive;

}

nav {
    background-color: rgba(240, 248, 255, 0.681);
}

.player {
    width: 150px;
}

.team1 {
    background-image: url(img/computer.png);
    background-position: center;
    background-size: cover;

}

.battle {
    padding-top: 7rem;
}

.team2 {
    background-image: url(img/player.jpg);
    background-position: center;
    background-size: cover;
}

.battleArea {
    background-image: url(img/battle.jpg);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}

.fighter {
    animation: bounce2 0.2s ease infinite alternate;
    margin-top: 3rem;

}

@keyframes bounce2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}

.PokeballActive:hover {
    transform: translateY(-10px);
}

.PokeballActive {
    filter: drop-shadow(0.2px 3px 5px black);
    animation:
        shake 1.25s infinite cubic-bezier(.36, .07, .19, .97)
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-5px, 0) rotate(-10deg);
    }

    30% {
        transform: translate(5px, 0) rotate(10deg);
    }

    50% {
        transform: translate(-5px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(5px, 0) rotate(10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.pokemon {
    width: 220px;
    filter: drop-shadow(1px 10px 5px black);
    animation: bounce 0.8s ease infinite alternate, fadeIn 1s, zoom-in-zoom-out 0.5s;
}


@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.5, 0.5);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }

}

.winwin {
    /* animation: zoom 0.8s ease; */
    width: 300px;
}

/* @keyframes zoom {
    0% { transform: scale(1, 1);}
    100% { transform: scale(1.5, 1.5);}
  } */

.pkm {
    filter: drop-shadow(1px 10px 5px black);
    animation: bounce 0.90s ease infinite alternate, fadeIn 1s, zoom-in-zoom-out 0.5s;
}

.restart {
    animation: bounce 0.3s ease infinite alternate;
    margin-bottom: 1rem;
}

.message p {

    animation-duration: 2s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.logo {
    height: 70px;
}

.versus {
    height: 60px;
}

@media only screen and (max-width: 600px) {
   
    .fighter {
        width: 100px;
    } 
    .player1 {
        height: 210px;
    }
    
    .battle {
        padding-top: 1rem;
    }

    .battleArea {
        height: 340px;
        order: 1;
    }
    .versus {
        display:none
    }
    .pokemon {
        width:140px;
    }
    .pkm {
        width:130px;
    }
    .winwin {
        width: 250px;
    }

   
    div .choixpoke {
        margin: 10px !important;
    }

    .message {
        height: 50px;
    }

    .letsbattle {
        width: 80px;
    }

    .mediaSM {
        width: 60px;
    }

    .mediaSM1 {
        width: 100px;
    }

}

.popup {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 400px;
}


.letsgo {
    animation: bounce2 0.2s ease infinite alternate;
}


