body{
    margin: 0;
    padding: 0;

    background-image: url(img/icons8-pokéball-100.png);
    background-attachment:fixed;
    
}

.container {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(240, 248, 255, 0.681);
}


.team1 {
background-image: url(img/computer.png);
background-position:center;
background-size: cover;

}

.battle {
    padding-top: 7rem;
}

.team2 {
    background-image: url(img/player.jpg);
    background-position:center;
    background-size: cover;}

.battleArea {
    background-image: url(img/battle.jpg) ;
    background-repeat: no-repeat;
    background-position:center;
   
    background-size: cover;
}

.fighter:hover {
    transform: scale(1.1); 
    transition: 1s; 
}

.Pokeball:hover {
    transform: translateY(-10px);
}

.pokemon {
    width: 220px;
    filter: drop-shadow(1px 10px 5px black);

}
.pkm {
    filter: drop-shadow(1px 10px 5px black);

}

.rival {
    padding-top: 7rem;
}

.restart:hover {
    transform: scale(1.1); 
    transition: 1s; 
}
