@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0px !important;
    padding: 0px !important;
}

body{
    font-family: 'Exo', sans-serif;
}

.area{
    background-image: url(img/arena.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    
    width: 100%;
    height:100vh;
    z-index: 0;
   
}

.circles{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    /* width: 20px; */
    /* height: 20px; */
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }

}

header {
    width: 100vw;
    position: absolute;
    z-index: 1;
}


header img {
    margin-top: 2rem;
    width: 500px;
}

.context {
    width: 100%;
    position: absolute;
    top:68vh;
    text-align: center;
    z-index: 1;
    
}

.context img {
    width: 200px;
    animation: bounce2 0.2s ease infinite alternate;
}

@keyframes bounce2 {
    from {
        transform: translateY(0);
    }
  
    to {
        transform: translateY(-2px);
    }
  }

.trainer img{
    height: 300px;
    filter: drop-shadow(1px 5px 2px rgb(30, 30, 30));
    transition: 1s;
}

.trainer img:hover {
    transform: scale(1.1,1.1); 
    filter: drop-shadow(1px 10px 5px rgb(16, 14, 90));
}

.modal-body {
    background-image: url(img/background.png);
    font-family: 'Press Start 2P', cursive;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 360px;
    }
    .trainer img {
        height: 200px;
    }
    
}
